* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

/* ---------------- ** ------------------ */
/* ---------------- header -------------- */

.navbar-brand {
  text-transform: uppercase;
}

.navbar-brand:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}

/* ---------------- body ----------------- */

.contactCard {
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.49);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.49);
}

.deleteBtn {
  position: absolute;
  top: 30%;
  right: 30px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

/* ------------- chips -------------- */

.chieps-field {
  position: absolute;
  top: 70px;
  left: 100px;
  min-width: 110px;
  z-index: 999;
}

.chips {
  padding: 5px 10px;
  background: #87cefa;
  z-index: 9999;
  position: relative;
  margin: 10px 20px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  text-align: center;
}

.chips-mod {
  border: 10px solid #b0e0e6;
  border-radius: 5px;
  padding: 20px 30px;
  position: relative;
  height: 100x;
  width: 220px;
  margin: 250px auto;
  background: #fff;
  font-size: 18px;
}

.body-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(105, 105, 105, 0.7);
  z-index: 3;
}

/* ------------- footer --------------- */

.footer {
  flex: 0 0 auto;
  min-height: 80px;
  color: #fff;
}
